
*{
     text-decoration:none
}
 .sidebar{
    width: 30%;
    margin-left: 1.5rem;
    margin-top: 1rem;
    height: 100vh;
 }

 .sidebar-content {
    height: 85%;
 }

.page-title-sidebare {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: white;


}
.side-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.User-smollfotter{
    background-color: black;
    display: flex;
    justify-content:center;
}

.contena-footer{
    font-family: 'Inter', sans-serif;
    color: #D9D9D9;
    font-size: 1rem;
}

.contena-footer h5{
    margin: 0px;
}

.contena-footer img {
    width: 15px;
    
}